---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Headers/Header.astro";
import Footer from "../components/Footers/Footer.astro";
import { productosDisponibleAl } from "../sources/Stock-linear";
---

<Layout title="¡Orden de compra hecha!">
    <div class="header-container">
        <Header home="/Dr.-Mario-Shop/" about="/Dr.-Mario-Shop/#about" shop="/Dr.-Mario-Shop/Shop/"/>        
    </div>
    <div class="content-container">
        <div class="orden-done">
            <p>Su orden se ha generado con éxito. A la brevedad nuestro equipo se comunicará con usted para completar la compra <span>¡Muchas gracias!</span></p>
            <div class="img-done-ready">
                <img src="../images/logo-done 1.png" alt="Done Dr. Mario">
            </div>
            <a href="https://ginogc01.github.io/Dr.-Mario-Shop/Shop/">Seguir comprando</a>
        </div>
        <div class="slider-productos">
            <div class="articulos">
                {
                    //map de productos - append en productos-container
                    productosDisponibleAl.map(({nombre, precio, img, marca})=>{
                      return(
                    <a href="https://ginogc01.github.io/Dr.-Mario-Shop/Shop/" class="producto-card">
                            <img src={img.image01} alt={nombre}/>
                            <p class="precio"> ${precio} </p>
                        <div class="datos-card">
                            <h3 class="nombre">{nombre}</h3>
                            <p class="marca">Marca: {marca}</p>
                        </div>
                    </a>
                      )
                    })
                  }
            </div>
        </div>
    </div>
    <Footer/>
</Layout>

<style>

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    :root{
        --black:rgb(12, 12, 12);
        --white: rgb(245, 245, 245);
        --grey: rgb(220, 220, 220);
        --amarillo:rgb(255, 255, 40);
        --bg-amarillo: rgb(228, 228, 34);
        --shadow-amarillo: rgb(190, 190, 17);


    }

    .header-container{
        background-color: rgb(0,0,0);
    }

    .content-container{
       width: 85%;
       margin: auto;
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 2em;
       gap: 2em;
    }

    .orden-done{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .orden-done > p{
        font-size: 1.9em;
        text-align: center;
    }

    .orden-done > p > span{
        text-transform: uppercase;
        font-weight: bold;
    }

    .img-done-ready{
        width: 30%;
        margin: auto;
    }

    .img-done-ready > img{
        width: 100%;
    }

    .img-publicidad{
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
        width: 100%;
        height: 100%;
    }

    .img-publicidad > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(10px 10px 0 rgb(0, 0, 0)) drop-shadow(10px 10px 25px rgba(0, 0, 0, 0.3));

    }

    .orden-done > a{
        text-decoration: none;
        background-color: var(--black);
        width: 15em;
        padding: 1em 2em;
        text-align: center;
        color: white;
        font-size: 1.2em;
        margin: auto;
        transition: all ease-in-out .2s;
    }

    .orden-done > a:hover{
        background-color: var(--white);
        color: var(--black);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    }

    .slider-productos{
        width: 100%;
        margin: auto;

    }


    .articulos{
      padding: 1em;
      display: flex;
      gap: 1em;
      overflow:scroll;

    }

    /* width */
    .articulos::-webkit-scrollbar {
        height: 7px;
        width: 0px;
    }

    /* Track */
    .articulos::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    
    /* Handle */
    .articulos::-webkit-scrollbar-thumb {
    background: #888; 
    }

    /* Handle on hover */
    .articulos::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }

    

    /* Cards */


    .producto-card{
        position: relative;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 15em;
        height: 15em;
    }

    .producto-card > img{
        width: 15em;
        height: 100%;
        background-color: var(--grey);
        object-fit: contain;
        transition: transform ease-in-out .3s ;
        filter: drop-shadow(0 0 8px rgba(0,0,0,.1));
    }

    .precio{
        position: absolute;
        right: .5em;
        padding: .3em;
        opacity: 0;
        transition: transform ease-in-out .2s, opacity ease-in-out .2s;
        color: var(--black);
    }

    .datos-card{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: .5em;
        transform: translateY(.7em);
        color: white;
        color: var(--black);
        gap: .3em;
        opacity: 0;
        transition: opacity ease-in-out .3s, transform ease-in-out .3s ;
        font-size: .9em;
    }

    .producto-card:hover > .datos-card {
        opacity: .9;
        transform: translateY(.5em) scale(1.1);

    }

    .producto-card:hover  > img {
        transform: scale(1.1);
    }

    .producto-card:hover > .precio{
        transform: scale(1.1);
        opacity: 1;

    }

    @media screen and (max-width:1280px){
        .header-container{
            background-color: transparent;
            border-bottom: 1px solid var(--black);
            width: 90%;
            margin: auto;
        }
    }

    @media screen and (max-width:600px){
        .header-container{
            width: 100%;
        }


        .content-container{
            width: 100%;
            padding: 1em 1em 0;
        }

        .orden-done > p{
            font-size: 1.2em;
        }

        .orden-done > .img-done-ready{
            width: 90%;
            transform: translateX(2em);
        }

        .precio{
            opacity: 1;
        }
        
    }
</style>