---
import '../components/Shop-Destacado.css'
---

  <a href="/Dr.-Mario-Shop/Shop/" class="carrito">
    <span class="material-symbols-outlined logo-carrito">shopping_cart</span>
    <span class="material-symbols-outlined arrow">keyboard_double_arrow_right</span>
    <span class="numero-carrito" id="numero-carrito">0</span>
  </a>
  <section class="productos-container">
    <div class="h3">
      <span class="material-symbols-outlined">arrow_right_alt</span>
      <h3>Novedades</h3>
    </div>
    <div class="articulos-container">
     <div class="articulos-container__articulos-slider">

        <button class="view-more-button btn-left">
          <span class="material-symbols-outlined view-more-icon  left">chevron_left</span>
        </button>
      

        <div class="articulos" id="articulos">
          <!-- completamos con js -->
        </div>
        
        <button class="view-more-button btn-right">
          <span class="material-symbols-outlined view-more-icon right">chevron_right</span>
        </button>
     </div>
     <div class="h3">
      <span class="material-symbols-outlined">arrow_right_alt</span>
      <h3>Productos DESTACADOS</h3>
    </div>
      <div class="articulosAl" id="articulosAl">
        <!-- completamos con js -->
      </div>
    </div>
    
    
  </section>

<script>
  // agregar al carrito ↓
  let btnAgregarCarritoAl = document.querySelectorAll(".btn-agregar-carritoAl");
  let btnAgregarCarrito = document.querySelectorAll(".btn-agregar-carrito");

  let numeroCarrito = document.querySelector(".numero-carrito") as HTMLElement;
  // import {ProductosSeccionDestacados} from '../sources/Stock-linear.js'
  import {productosDisponible} from '../sources/Stock-linear.js'

  const articulosConteiner = document.querySelector("#articulos") as HTMLElement;
  const articulosConteinerAl = document.querySelector("#articulosAl") as HTMLElement;



  type Imagen = {
    image01: string,
    image02: string,
    image03: string,
    image01Index: string,
    image02Index: string,
    image03Index: string
  }
  type Talle = {
    talle: string,
    detalle: string
  }

  type Producto = {
  nombre: string,
  id: string,
  img: Imagen;
  description: string,
  marca: string,
  talle: Talle,
  precio: number,
  cantidad: number,
  calificacion:number
};


  function cargarProductosAl(productos:Producto[]){
    articulosConteinerAl.innerHTML = ``;

    productos.forEach(({id, img, nombre, description, marca, talle, precio, cantidad, calificacion }) =>{
      const prodCard = document.createElement('div') as HTMLElement;
      prodCard.classList.add('producto-card-Al');


      prodCard.innerHTML=`
      <div class="destacados"> 
        <p> Prodcuto <br> 
          <span class="destacado"> DESTACADO </span>
        </p>
        <div class="calificacion">
          <span class="calificaion-numero">${calificacion}/10</span>
          <span class="material-symbols-outlined star">star</span>
        </div>
       
      </div>
      <div class="container-slider-Al">
                <input type="radio" class="input-01 input-img" name="al-${id}">
                <input type="radio" class="input-02 input-img" name="al-${id}">
                <input type="radio" class="input-03 input-img" name="al-${id}">
                <div class="slider-Al">
                  <div class="slider__section-Al">
                    <img class="al" src="${img.image01Index}" alt="${nombre}">
                  </div>
                  <div class="slider__section-Al">
                    <img class="al" src="${img.image02Index}" alt="${nombre}">
                  </div>
                  <div class="slider__section-Al">
                    <img class="al" src="${img.image03Index}" alt="${nombre}">
                  </div>
                </div>
       </div>
       <div class="datos-card">
              <p class="precio-Al"> $ ${precio}</p>
              <h3 class="nombre">${nombre}</h3>
              <p class="talle">Talle ${talle.talle}</p>
              <button class="btn-agregar-carritoAl" id=${id}>
                  <p>agregar al carrito</p>
                  <span class="material-symbols-outlined cart-add cart-addAl">add_shopping_cart</span>
              </button>
        </div>
              
      `
      articulosConteinerAl.append(prodCard);
    })
  }

  function cargarProductos(productos:Producto[]){
    articulosConteiner.innerHTML = ``;

    productos.forEach(({id, img, nombre, description, marca, talle, precio }) =>{
      const prodCard = document.createElement('div') as HTMLElement;
      prodCard.classList.add('producto-card')

      prodCard.innerHTML=`

              <div class="container-slider">
                <input type="radio" class="input-01 input-img" name="${id}">
                <input type="radio" class="input-02 input-img" name="${id}">
                <input type="radio" class="input-03 input-img" name="${id}">
                <div class="slider">
                  <div class="slider__section">
                    <img src="${img.image01Index}" alt="${nombre}">
                  </div>
                  <div class="slider__section">
                    <img src="${img.image02Index}" alt="${nombre}">
                  </div>
                  <div class="slider__section">
                    <img src="${img.image03Index}" alt="${nombre}">
                  </div>
                </div>
              </div>
              <div class="datos-card">
                <div class="datos-card-text">
                  <h3 class="nombre">${nombre}</h3>
                  <p class="talle">T: ${talle.talle}</p>
                  <p class="marca">${marca}</p>
                  <p class="precio"> $ ${precio}</p>
                </div>
                  <button class="btn-agregar-carrito linear" id=${id}>
                    <p>agregar al carrito</p>
                    <span class="material-symbols-outlined cart-add">add_shopping_cart</span>
                  </button>
              </div>
  
      `
      articulosConteiner.append(prodCard);
    })
  }

  // cargarProductosAl(ProductosSeccionDestacados);
  cargarProductos(productosDisponible)

  let productosCarritoLs = localStorage.getItem("productos-en-carrito")
  let productosCarrito;


  if(productosCarritoLs){
    productosCarrito = JSON.parse(productosCarritoLs);
  }else{
    productosCarrito = [];
  } 

  declare const Toastify: any;
  import 'toastify-js'

  function agregarCarrito(e:MouseEvent, productos:Producto[]){

          Toastify({
        text: "¡Producto agregado!",
        duration: 2500,
        destination: "https://ginogc01.github.io/Dr.-Mario-Shop/Shop/",
        newWindow: true,
        close: false,
        gravity: "top", // `top` or `bottom`
        position: "right", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
        style: {
          background: "linear-gradient(to right, #0c0c0c, #0c0c0c)",
          textTransform: 'uppercase',
          fontSize: '.75em'
        },
        onClick: function(){} // Callback after click
      }).showToast();

        const btnId = (e.currentTarget as HTMLAnchorElement).id;
        const productoAgregado = productos.find(producto => producto.id === btnId);

    // ojo, revisar después el ({id}) necesitamos el producto.id
        if(productosCarrito.some(({id}) => id === btnId)){
            const productoIndex = productosCarrito.findIndex(({id}) => id === btnId);
            productosCarrito[productoIndex].cantidad++;

        }else{ 
            productoAgregado.cantidad = 1;
            productosCarrito.push(productoAgregado);
        }

        localStorage.setItem('productos-en-carrito', JSON.stringify(productosCarrito));
        ActualizarNumero();
    }

  // Tranqui, esta actualiza para los 2
  function ActualizarNumero(){
      let carritoNumero = productosCarrito.reduce((acc:number, producto) => acc + producto.cantidad, 0);

      numeroCarrito.innerText = carritoNumero;
    }
  ActualizarNumero();


  // botones aleatorio
  btnAgregarCarritoAl = document.querySelectorAll('.btn-agregar-carritoAl');
  btnAgregarCarritoAl.forEach(boton => {
    boton.addEventListener('click', (e:MouseEvent)=>{
      // agregarCarrito(e, ProductosSeccionDestacados);
    })
  });

  // botones Lineales
  btnAgregarCarrito = document.querySelectorAll('.btn-agregar-carrito');
  btnAgregarCarrito.forEach(boton => {
    boton.addEventListener('click', (e:MouseEvent)=>{
      agregarCarrito(e, productosDisponible);
    })
  });

  // cuando cargan los botones, se aplica el estilo

      const firstSelectorImg = document.querySelectorAll(".input-01")as NodeListOf<HTMLInputElement> ;

      firstSelectorImg.forEach(input => {
          input.checked = true;
      })

      // slider 
      const carrusel = document.querySelector('.articulos')!;
      const buttonSliderRight = document.querySelector('.btn-right')!;
      const buttonSliderLeft = document.querySelector('.btn-left')!;
      let step = 1000;

      const right = ()=>{
          carrusel.scrollLeft = carrusel.scrollLeft + step;
      }

      const left = ()=>{
          carrusel.scrollLeft = carrusel.scrollLeft - step;

      }

      buttonSliderRight.addEventListener('click', right);
      buttonSliderLeft.addEventListener('click', left);

</script>

